@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: linear-gradient(90deg, rgba(13, 110, 253, 0.1) 20%, rgba(212, 179, 1, 0.1) 70%);
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
html, body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

p{
    font-family: "Arimo", sans-serif;
  }

h1, h2, h3, h4, h5, h6, a {
    font-family: "Nunito", sans-serif;
  }

  .section {
    padding: var(--spacing-medium);
    margin-bottom: var(--spacing-large);
  }

  .flex-container {
    display: flex;
    gap: 1.5rem; /* Consistent spacing between items */
    flex-wrap: wrap;
  }
  
  .menuBar{
    background: #fff;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50; /* Ensure it's above other elements */
  }
  
  .menuBar::before {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute; /* Position overlay on top */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(13, 110, 253, 0.1) 30%, rgba(212, 179, 1, 0.1) 100%); 
    z-index: -1; /* Ensure the overlay is behind the content */
  }
 
  .Testomonial
  {
    font-family: Arimo;
  }

  @media (max-width: 768px) {
    .container {
      padding: 1rem;
    }
  }

  @media (max-width: 768px) {
  .flex-wrap {
    flex-direction: column;
  }

  .border-r {
    border-right: none;
  }

  .md\:w-1\/3 {
    width: 100%;
  }

  .md\:p-10 {
    padding: 1rem;
  }
}

button:focus {
  outline: 2px solid #002096;
  outline-offset: 2px;
}

button:hover {
  background-color: #0056b3;
}

.group:hover, .group:focus {
  transform: translate-x-1;
}
